*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans';
}
$fonts:Inter;
a{
    text-decoration: none;
}
.header{
    .menu{
        display: none;
        @media (max-width: 376px){
            display: block;
             
        }
    }
    .burger-checkbox {
        position: absolute;
        visibility: hidden;
      }
      .burger {
        position: relative;
        z-index: 1;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;
      }
      .burger::before,
      .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #ffffff;
      }
      .burger::before {
        top: 0;
        box-shadow: 0 11px 0 #ffffff;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
      }
      .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
      }
      .burger-checkbox:checked + .burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
      }
      .burger-checkbox:checked + .burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
      }
      .menu{
        padding-bottom: 80px;
        
      }
      .menu-list {
        top: 0;
        left: 0;
        position: absolute;
        display: grid;
        gap: 12px;
        padding: 42px 0;
        margin: 0;
        background: #5E442D;
        list-style-type: none;
        transform: translateX(-100%);
        transition: .3s;
        width: 200px;
      }
      .menu-item {
        display: block;
        padding: 8px;
        color: white;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
      }
      .menu-item:hover {
        background: rgb(255, 255, 255)
      }
      .burger-checkbox:checked ~ .menu-list {
        transform: translateX(0);
      }
   

    background-color:  #5E442D;

 
   
    
    &__wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media (max-width: 376px){
            // display: none;
            justify-content: right;
            position: absolute;
            top: -5px;
            right: -5px;
            
        }
    }    
    &__box{
        display: flex;
    }
    &__nav{
        padding-top: 40px;
        @media (max-width: 376px){
            display: none;
             
        }
    
        
        a{
            color: #fff;
            font-size: 24px;
            font-weight: 500 ;
            font-family:  $fonts;
            padding-left: 30px;
            padding-right: 30px;
            text-transform: inherit;
            @media (max-width: 376px){
                display: none;
                 
            }
            
           
        }
    }    
    &__menu::before{
        content: url(../img/Line1.svg);
        position: absolute;
        right: 361px;;
        @media (max-width: 376px){
            display: none;
             
        }
    }
    &__menu{
        margin-top: 30px;
        margin-right: 10px;
        @media (max-width: 376px){
            display: none;
             
        }
        &-p{
            font-weight: 900;
            padding-bottom: 5px;
            font-size: 15px;
        }
        &-p::before{
            content: url(../img/phone.svg);
            padding-right: 5px;
        }
        &-p2{
            font-weight: 100;
            font-size: 15px;
        }
        color: #fff;
        
    }
    
    &__btn{
        button{
            margin-top: 38px;
            padding: 10px 20px 10px 20px;
            border-radius: 120px;
            border: 0;
            background-color: #9A9490;
            font-weight: 700;
            font-size: 19px;
            color: #fff;
            @media (max-width: 376px){
                display: none;
                 
            }
        }
    }
}
.main{
    background: url(../img/food.png) no-repeat center center / cover;
    height: 100vh;
    @media (max-width: 376px){
        height: 80vh;
         
     }

    &__title{
        padding: 200px 0 0 150px;
        color: #9A9490;
        font-size: 32px;
        @media (max-width: 376px){
            padding: 40px 0  0 10px;
            
            
        }
        

        h2{
            font-family: $fonts;
            max-width: 513px;
            text-align: center;
        }
        p{
            font-size: 20px;
            padding-left: 101px;
            @media (max-width: 376px){
                padding-left: 10px;
                
            }

            
        }
        p::before{
            content: url(../img/line2.svg);
            position: absolute;
            left: 177px;
            top: 428px;
            @media (max-width: 376px){
                display: none;
                
            }
        }
        p::after{
            content: url(../img/line2.svg);
            position: absolute;
            left: 593px;
            top: 430px;
            @media (max-width: 376px){
                display: none;
                
            }
        }
    }
}
.info{
    .container{
        display: flex;
        justify-content: space-around;
        margin-top: 84px;
        @media (max-width: 376px){
            flex-direction: column;
        }
    }
    &__title{
        max-width: 720px;
        margin-left: 70px;
        @media (max-width: 376px){
            max-width: 375px;
            margin: 0;
            padding-left: 10px;
            
        }
            &-text{
                font-size: 32px;
                color: #9A9490;
                padding-left: 40px;
                font-weight: 700;

            }
        h2{
            font-size: 64px;
            color: #9A9490;
            padding-left: 120px;
            @media (max-width: 376px){
                padding-left: 50px;
                font-size: 32px;
                
            }
        }
        
        &-p{
            font-size: 24px;
            color: #9A9490;
            @media (max-width: 376px){
                font-size: 15px;
                
            }
            
        }
    }
    &__img{
        &-1{
            @media (max-width: 376px){
            max-width: 350px;
            padding-left: 20px;
            padding-top: 20px;
            
        }
        }
        
    }

    &__box-all{
        display: flex;
        flex-direction: row;
        padding-left: 123px;
        padding-top: 50px;      
        gap: 90px;
        @media (max-width: 376px){
            padding-left: 10px;
            gap: 50px;
            padding-top: 10px;
            
        }

        h3{
            font-size: 32px;
            font-weight: 100;
            color: #9A9490;
        }
        p{
            font-size: 20px;
            font-weight: 100;
            color: #9A9490;
        }
    }
    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.menu{
    .container{
        display: flex;
        margin: 0 20px 0 20px;
        @media (max-width: 376px){
            // margin: 0 0 0 20px;
            flex-direction: column;
             
         }
    }
    &__title{
        h2{
           font-size: 48px;
           color: #9A9490;
           font-weight: 700; 
           display: flex;
           justify-content: center;
           padding-bottom: 50px;
           padding-top: 50px;
        }
    }
    &__image{
        max-width: 938px;
        @media (max-width: 376px){
            max-width: 336px;
            
        }
    }
    &__image2{
        max-width: 620px;
        height: 490px;
        @media (max-width: 376px){
           max-width: 333px;
           max-height: 232px;
            
        }
    }
    &__image3{
        max-width: 308px;
        height: 490px;
        @media (max-width: 376px){
            display: none;
            
         }
    }
    &__image4{
        display: none;
        @media (max-width: 376px){
            display: block;
            max-width: 334px;
             
         }
    }
    &__text-menu{
        display: none;
        @media (max-width: 376px){
            display: block;
            display: flex;
            justify-content: center;
            font-size: 38px;
            color: #9A9490;
            font-weight: 900;   
            // margin: 20px 0 20px 0;

             
    
        }
    }
    &__box2-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
       
        h4{
            font-size: 28px;
            color: #9A9490;
            font-weight: 900;
        }
        p{
            font-size: 24px;
            color: #9A9490;
            font-weight: 900;
        }
        img{
            @media (max-width: 376px){
                max-width:322px ;
               
                
                 
             }
        
        }
    
    }
    &__btn{
        margin-left: 180px;
        button{
            padding: 5px 20px 5px 20px;
            border-radius: 20px;
            background-color: #9A9490;
            color: #fff ;
            border: 0;
            font-size: 16px;
            font-weight: 700;
        }

    }
}
.rec{
    .container{
        display: flex;
        justify-content: space-between;
        margin: 40px 50px 0 50px;
        @media (max-width: 376px){
            margin: 0 0 0 20px;
            flex-direction: column;
           
             
         }
    }
    &__title{
        h3{
            font-size: 52px;
            color: #9A9490;
            font-weight: 900;
            @media (max-width: 376px){
                font-size: 32px;
                
            }
        }
        p{
            font-size: 24px;
            font-weight: 700;
            color: #9A9490;
            @media (max-width: 376px){
               font-size: 18px;
                 
             }
        }
    }
    
    &__image{
        @media (max-width: 376px){
            max-width: 300px;
            padding-left: 14px;
            padding-top: 20px;
             
         }
    }
}
.footer{
    background-color: #5E442D;
    padding-bottom: 20px;
    .container{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    &__text{
        margin-left: 80px;
        color: #fff;
        @media (max-width: 376px){
            margin-left: 30px;
             
         }
        h4{
            font-size: 32px;
            padding-top: 59px;
        }
        p{
            font-size: 20px;
            padding-bottom: 19px;
            
        }
    }
    &__review{
        padding-top: 50px;
        h3{
            font-size: 36px;
            color: #fff;
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
            font-weight: 900;
        }
    }
    &__box{
        display: flex;
        align-items: center;
        flex-direction: column;
        // justify-content: center;
        padding-top: 15px;
        max-width: 520px;
        max-height: 230px;
        background-color: #fff;
        padding: 30px 80px 20px 80px;
        border-radius: 45px;
        h4{
            font-size: 36px;
            font-weight: 900;
            color: #9A9490;
        }
        p{
            font-size: 16px;
            font-weight: 900;
            color: #9A9490;
        }
    }
    &__img{
        padding-top: 20px;
        @media (max-width: 376px){
            display: none;
             
         }
    }
}